.header-wrapper{
  padding:10px;
  background-color: #3C362F;
  color: #ffffff;
  width:100%;
  height: auto;
}

.label-wrapper{
  width: 90%;
}
.label-wrapper label{
  cursor: pointer;
}

.my-cart-icon{
  font-size:25px;
  position: absolute;
    top: 15px;
    right: 35px;
}

.count-label{
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 1px 7px;
  border-radius: 50%;
  background-color: #58d539;
  color: white;
  cursor: pointer;

}