.return-shop{
  margin: 20px;
    background-color: #39b939;
    padding: 10px;
    color: white;
    border-color: #39b939;
}


.cart-table tr {
  height: 70px;
   padding:20px;
   margin:20px;
    
}
.cart-table th{
  padding:15px;
}

.cart-table thead{
  background-color: burlywood;
}


.total-title{
text-align: right;
}

.input-quantity{
       width: 30px;
       text-align:center;
       }

.cart-table{
  width: 100%;
    text-align: center;
}

.item-icon{
  width:30px;
  height: 30px;
}

.cart-delete{
  color: #ff0000;
  font-size: 20px;
}